In [1]:
data = [50,50,47,97,49,3,53,42,26,74,82,62,37,15,70,27,36,35,48,52,63,64]
print(data)
print(type(data))

[50, 50, 47, 97, 49, 3, 53, 42, 26, 74, 82, 62, 37, 15, 70, 27, 36, 35, 48, 52, 63, 64]
<class 'list'>

In [2]:
# The list is not optimazed for numeric analysus.

import numpy as np
grades = np.array(data)
print(grades)
print(type(grades))

[50 50 47 97 49  3 53 42 26 74 82 62 37 15 70 27 36 35 48 52 63 64]
<class 'numpy.ndarray'>

In [3]:
print(type(data) ,'x 2', data*2)
print('-'*10) 
print(type(grades), 'x 2',grades*2)

<class 'list'> x 2 [50, 50, 47, 97, 49, 3, 53, 42, 26, 74, 82, 62, 37, 15, 70, 27, 36, 35, 48, 52, 63, 64, 50, 50, 47, 97, 49, 3, 53, 42, 26, 74, 82, 62, 37, 15, 70, 27, 36, 35, 48, 52, 63, 64]
----------
<class 'numpy.ndarray'> x 2 [100 100  94 194  98   6 106  84  52 148 164 124  74  30 140  54  72  70
  96 104 126 128]

In the cell above I can see the diference between, list and numpy arrays, 
while the list is been duplicate, if it was inicial 10 values, if I do 2 times the line, it will duplicate the list.
However, with the numpy array, it will be an scalar multiplication, which will do n times each value in the array

In [4]:
#The Dreason why the data type is a ndarray, is beacuse it makes reference to n dimensions array
# to check the dimension of an array I can use the shape attribute
print(grades.shape)

# Similar to list, I can access to values in the array with their index
print(grades[0])
print(grades[-1])

(22,)
50
64

In [5]:
# Dig into analysis of the data 
# start getting the simple avg grade of the 'grades' array
print(grades.mean())

49.18181818181818

Now I will add a second set of data for the same students. This time, will contain the hours that each student spends studing

In [6]:
study_hours = [10,11.5,9,16,9.25,1,11.5,9,8.5,14.5,15.5,
                13.75,9,8,15.5,8,9,6,10,12,12.5,12]

# Create a 2D array, with the grades and the study_hours
student_data = np.array([grades,study_hours])

print(student_data)

[[50.   50.   47.   97.   49.    3.   53.   42.   26.   74.   82.   62.
  37.   15.   70.   27.   36.   35.   48.   52.   63.   64.  ]
 [10.   11.5   9.   16.    9.25  1.   11.5   9.    8.5  14.5  15.5  13.75
   9.    8.   15.5   8.    9.    6.   10.   12.   12.5  12.  ]]

In [7]:
# Now I constructed a two dimensions array, to check it, I can use the shape attribute to check
print(student_data.shape)
# 2 rows, 22 columns

# SImilar to list and dictionaries, I can extract a value in the array through the index
# array_name[row_index][column_index]
print(student_data[1][16])

(2, 22)
9.0

In [8]:
#Get the mean for each row in the array
avg_grades = student_data[0].mean()
avg_stuHours = student_data[1].mean()

print(f'Average study hours: {avg_stuHours:.2f}\nAverage grades: {avg_grades:.2f}')

Average study hours: 10.52
Average grades: 49.18

Exploring tabular data with Pandas

In [9]:
import pandas as pd
df_students = pd.DataFrame({'Name':['Dan','Joann','Pedro','Rosie','Ethan','Vicky','Frederic','Rhonda','Giovanni','Francesca',
                                    'Rajab','Naiyana','Kian','Jakeen','Helena','Ismat','Anila','Skye','Daniel','Aisha','Juan','Peter']
                            , 'Study_Hours': student_data[1], 'Grades':student_data[0]})

print(df_students)

         Name  Study_Hours  Grades
0         Dan        10.00    50.0
1       Joann        11.50    50.0
2       Pedro         9.00    47.0
3       Rosie        16.00    97.0
4       Ethan         9.25    49.0
5       Vicky         1.00     3.0
6    Frederic        11.50    53.0
7      Rhonda         9.00    42.0
8    Giovanni         8.50    26.0
9   Francesca        14.50    74.0
10      Rajab        15.50    82.0
11    Naiyana        13.75    62.0
12       Kian         9.00    37.0
13     Jakeen         8.00    15.0
14     Helena        15.50    70.0
15      Ismat         8.00    27.0
16      Anila         9.00    36.0
17       Skye         6.00    35.0
18     Daniel        10.00    48.0
19      Aisha        12.00    52.0
20       Juan        12.50    63.0
21      Peter        12.00    64.0

In [10]:
# To retrieve data from a specific index value, I can us the loc() method
row_10 = df_students.loc[10]
print(row_10)

# Similar to slicing list I can use the method iloc[], the sytax will be similar
slice_top = df_students.iloc[:5] #Slice the first 5 values in the table, excluding the row that has the 5 index
slice_middle = df_students.iloc[3:9] #slice rows from index 3 to index 9-1
slice_bottom = df_students.iloc[19:] #Slice the last rows in the table starting at index 19 to the last row

print(slice_top)
print('\n','*'*15,'\n')
print(slice_middle)
print('\n','*'*15,'\n')
print(slice_bottom)

Name           Rajab
Study_Hours     15.5
Grades          82.0
Name: 10, dtype: object
    Name  Study_Hours  Grades
0    Dan        10.00    50.0
1  Joann        11.50    50.0
2  Pedro         9.00    47.0
3  Rosie        16.00    97.0
4  Ethan         9.25    49.0

 ***************

       Name  Study_Hours  Grades
3     Rosie        16.00    97.0
4     Ethan         9.25    49.0
5     Vicky         1.00     3.0
6  Frederic        11.50    53.0
7    Rhonda         9.00    42.0
8  Giovanni         8.50    26.0

 ***************

     Name  Study_Hours  Grades
19  Aisha         12.0    52.0
20   Juan         12.5    63.0
21  Peter         12.0    64.0

In [11]:
# Diference between loc[], and iloc[]
print(df_students.loc[:5]) #loc method returned rows with index label in the list of values from 0 to 5
print('\n','*'*15,'\n')
print(df_students.iloc[:5]) #iloc identifies data values in a DataFrame by position.

    Name  Study_Hours  Grades
0    Dan        10.00    50.0
1  Joann        11.50    50.0
2  Pedro         9.00    47.0
3  Rosie        16.00    97.0
4  Ethan         9.25    49.0
5  Vicky         1.00     3.0

 ***************

    Name  Study_Hours  Grades
0    Dan        10.00    50.0
1  Joann        11.50    50.0
2  Pedro         9.00    47.0
3  Rosie        16.00    97.0
4  Ethan         9.25    49.0

In [12]:
print(df_students.iloc[0,[1,2]]) #This statement will return from row position index 0, values in columns indexes 1 and 2 
print('\n','*'*15,'\n')
print(df_students.iloc[3,[0,2]] )#This statement will return from row position index 0, values in columns indexes 0 and 2

Study_Hours    10.0
Grades         50.0
Name: 0, dtype: object

 ***************

Name      Rosie
Grades     97.0
Name: 3, dtype: object

loc[] method is used to locate data items based on idex instead of positions, but like a dict the columns are identified by name

In [13]:
print(df_students.loc[0,'Study_Hours'])

10.0

Either way, I can use loc and add a kind of where clause to filter the result

In [14]:
print(df_students.loc[df_students['Name']=='Juan'])

# For this case I can skip the loc method
print('\n','*'*15,'\n')
print(df_students[df_students['Name']=='Juan'])

# Also I can achieve the same result using the query method
print('\n','*'*15,'\n')
print(df_students.query('Name=="Juan"'))

    Name  Study_Hours  Grades
20  Juan         12.5    63.0

 ***************

    Name  Study_Hours  Grades
20  Juan         12.5    63.0

 ***************

    Name  Study_Hours  Grades
20  Juan         12.5    63.0

Loading a DataFrame from a File

In some cases I cannot create info in the saeme file, however, I can load the dat from other sources like a csv file

In [16]:
#!wget https://raw.githubusercontent.com/MicrosoftDocs/mslearn-introduction-to-machine-learning/main/Data/ml-basics/grades.csv
df_students_load = pd.read_csv('grades.csv',delimiter=',',header='infer')
print(df_students_load.head())

    Name  StudyHours  Grade
0    Dan       10.00   50.0
1  Joann       11.50   50.0
2  Pedro        9.00   47.0
3  Rosie       16.00   97.0
4  Ethan        9.25   49.0

Handling missing values

Deal with incomplete or missing data.

In [20]:
#The method isnull() will help me to identify which individual values are null
print(df_students_load.isnull())

     Name  StudyHours  Grade
0   False       False  False
1   False       False  False
2   False       False  False
3   False       False  False
4   False       False  False
5   False       False  False
6   False       False  False
7   False       False  False
8   False       False  False
9   False       False  False
10  False       False  False
11  False       False  False
12  False       False  False
13  False       False  False
14  False       False  False
15  False       False  False
16  False       False  False
17  False       False  False
18  False       False  False
19  False       False  False
20  False       False  False
21  False       False  False
22  False       False   True
23  False        True   True

In [25]:
#It will be inefficient to check one by one the True values, there I can sum how many NULL values the df has
print(df_students_load.isnull().sum())
print('\n','*'*15,'\n')

# At this point were I know, how many Null each column has, 
# I can start checking those rows
print(df_students_load[df_students_load.isnull().any(axis=1)]) #Filter the DataFrame to include only rows where any of the columns (axis 1) are null

Name          0
StudyHours    1
Grade         2
dtype: int64

 ***************

    Name  StudyHours  Grade
22  Bill         8.0    NaN
23   Ted         NaN    NaN

A way to handle Null values is to frop them out of the data frame, or use a statistical value to replace them.

In [27]:
# Replace Null values with the mean of that column
df_students_load['StudyHours'] = df_students_load['StudyHours'].fillna(df_students_load['StudyHours'].mean())
df_students_load['Grade'] = df_students_load['Grade'].fillna(df_students_load['Grade'].mean())

print(df_students_load.iloc[22:])

    Name  StudyHours      Grade
22  Bill    8.000000  49.181818
23   Ted   10.413043  49.181818

In [32]:
#Load the original datframe again
df_students_load = pd.read_csv('grades.csv',delimiter=',',header='infer')

In [33]:
print(df_students_load.isnull().sum())
print('\n','*'*15,'\n')
print(df_students_load.iloc[20:])
print('\n','*'*15,'\n')

# The other way to handle Null valus is dropping them of the dataframe
df_students_load = df_students_load.dropna(axis=0,how='any')
print(df_students_load.iloc[20:])

Name          0
StudyHours    1
Grade         2
dtype: int64

 ***************

      Name  StudyHours  Grade
20  Daniel        12.5   63.0
21   Aisha        12.0   64.0
22    Bill         8.0    NaN
23     Ted         NaN    NaN

 ***************

      Name  StudyHours  Grade
20  Daniel        12.5   63.0
21   Aisha        12.0   64.0

Exploring the Data

In [34]:
#Get the mean of the Study Hours
avg_study_h = df_students_load['StudyHours'].mean()

#Get the mean of the grades
avg_grades = df_students_load['Grade'].mean()

#Print the study hours meant and the grades
print(f'Average weekly study hours: {avg_study_h:.2f}\nAverage Grades: {avg_grades:.2f}')

Average weekly study hours: 10.52
Average Grades: 49.18

In [35]:
# Filter studentss who studied more hours than the avg
print(df_students_load[df_students_load['StudyHours'] > avg_study_h])

         Name  StudyHours  Grade
1       Joann       11.50   50.0
3       Rosie       16.00   97.0
6    Frederic       11.50   53.0
9    Giovanni       14.50   74.0
10  Francesca       15.50   82.0
11      Rajab       13.75   62.0
14      Jenny       15.50   70.0
19       Skye       12.00   52.0
20     Daniel       12.50   63.0
21      Aisha       12.00   64.0

In [36]:
# Find the mean of grade for those students that studied more than the avg
print(df_students_load[df_students_load['StudyHours'] > avg_study_h]['Grade'].mean())

66.7

It is also valuavle to add new columsn to the data frame to get extra insights like:

In [38]:
# If the grade to pass is 60
passes = pd.Series(df_students_load['Grade'] >= 60)
print(pd.DataFrame({'Grade':df_students_load['Grade'],'Pass':passes}))

    Grade   Pass
0    50.0  False
1    50.0  False
2    47.0  False
3    97.0   True
4    49.0  False
5     3.0  False
6    53.0  False
7    42.0  False
8    26.0  False
9    74.0   True
10   82.0   True
11   62.0   True
12   37.0  False
13   15.0  False
14   70.0   True
15   27.0  False
16   36.0  False
17   35.0  False
18   48.0  False
19   52.0  False
20   63.0   True
21   64.0   True

In [39]:
# add the passes column to the df_students_load DF
df_students_load = pd.concat([df_students_load,passes.rename('Approved')], axis=1) # Axis one make reference to add the Series as a column
print(df_students_load)

         Name  StudyHours  Grade  Approved
0         Dan       10.00   50.0     False
1       Joann       11.50   50.0     False
2       Pedro        9.00   47.0     False
3       Rosie       16.00   97.0      True
4       Ethan        9.25   49.0     False
5       Vicky        1.00    3.0     False
6    Frederic       11.50   53.0     False
7      Jimmie        9.00   42.0     False
8      Rhonda        8.50   26.0     False
9    Giovanni       14.50   74.0      True
10  Francesca       15.50   82.0      True
11      Rajab       13.75   62.0      True
12    Naiyana        9.00   37.0     False
13       Kian        8.00   15.0     False
14      Jenny       15.50   70.0      True
15     Jakeem        8.00   27.0     False
16     Helena        9.00   36.0     False
17      Ismat        6.00   35.0     False
18      Anila       10.00   48.0     False
19       Skye       12.00   52.0     False
20     Daniel       12.50   63.0      True
21      Aisha       12.00   64.0      True

In [44]:
#f I can only those students that approved the classes
print(df_students_load[df_students_load['Approved']== True])
print('\n','*'*15,'\n')

#Now pull the studets that failed.
print(df_students_load.query('Approved == False'))

         Name  StudyHours  Grade  Approved
3       Rosie       16.00   97.0      True
9    Giovanni       14.50   74.0      True
10  Francesca       15.50   82.0      True
11      Rajab       13.75   62.0      True
14      Jenny       15.50   70.0      True
20     Daniel       12.50   63.0      True
21      Aisha       12.00   64.0      True

 ***************

        Name  StudyHours  Grade  Approved
0        Dan       10.00   50.0     False
1      Joann       11.50   50.0     False
2      Pedro        9.00   47.0     False
4      Ethan        9.25   49.0     False
5      Vicky        1.00    3.0     False
6   Frederic       11.50   53.0     False
7     Jimmie        9.00   42.0     False
8     Rhonda        8.50   26.0     False
12   Naiyana        9.00   37.0     False
13      Kian        8.00   15.0     False
15    Jakeem        8.00   27.0     False
16    Helena        9.00   36.0     False
17     Ismat        6.00   35.0     False
18     Anila       10.00   48.0     False
19      Skye       12.00   52.0     False

DataFrames are designed for tabular data, and you can use them to perform many of the same kinds of data analytics operations you can do in a relational database, such as grouping and aggregating tables of data.

In [46]:
#Count students that approved and those whoe resigned
print(df_students_load.groupby(df_students_load['Approved'])['Name'].count())
print('\n','*'*15,'\n')

# I can add multiple fileds in a group using any aggregation function
print(df_students_load.groupby(df_students_load['Approved'])['StudyHours','Grade'].mean())

Approved
False    15
True      7
Name: Name, dtype: int64

 ***************

          StudyHours      Grade
Approved
False       8.783333  38.000000
True       14.250000  73.142857

C:\Users\Andres Felipe\AppData\Local\Temp\ipykernel_6540\3145995095.py:6: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  print(df_students_load.groupby(df_students_load['Approved'])['StudyHours','Grade'].mean())

In [47]:
#Sort the DF by the Grade
df_students_sorted = df_students_load.sort_values('Grade',ascending= False)

print(df_students_sorted)

         Name  StudyHours  Grade  Approved
3       Rosie       16.00   97.0      True
10  Francesca       15.50   82.0      True
9    Giovanni       14.50   74.0      True
14      Jenny       15.50   70.0      True
21      Aisha       12.00   64.0      True
20     Daniel       12.50   63.0      True
11      Rajab       13.75   62.0      True
6    Frederic       11.50   53.0     False
19       Skye       12.00   52.0     False
1       Joann       11.50   50.0     False
0         Dan       10.00   50.0     False
4       Ethan        9.25   49.0     False
18      Anila       10.00   48.0     False
2       Pedro        9.00   47.0     False
7      Jimmie        9.00   42.0     False
12    Naiyana        9.00   37.0     False
16     Helena        9.00   36.0     False
17      Ismat        6.00   35.0     False
15     Jakeem        8.00   27.0     False
8      Rhonda        8.50   26.0     False
13       Kian        8.00   15.0     False
5       Vicky        1.00    3.0     False

In [48]:
print(df_students_load)

         Name  StudyHours  Grade  Approved
0         Dan       10.00   50.0     False
1       Joann       11.50   50.0     False
2       Pedro        9.00   47.0     False
3       Rosie       16.00   97.0      True
4       Ethan        9.25   49.0     False
5       Vicky        1.00    3.0     False
6    Frederic       11.50   53.0     False
7      Jimmie        9.00   42.0     False
8      Rhonda        8.50   26.0     False
9    Giovanni       14.50   74.0      True
10  Francesca       15.50   82.0      True
11      Rajab       13.75   62.0      True
12    Naiyana        9.00   37.0     False
13       Kian        8.00   15.0     False
14      Jenny       15.50   70.0      True
15     Jakeem        8.00   27.0     False
16     Helena        9.00   36.0     False
17      Ismat        6.00   35.0     False
18      Anila       10.00   48.0     False
19       Skye       12.00   52.0     False
20     Daniel       12.50   63.0      True
21      Aisha       12.00   64.0      True